.container {
  width: 1280px;
  margin: 0 auto;
}

.top {
  font-family: Arial, Helvetica, sans-serif;
  height: 79px;
  width: 334px;
  font-size: 80px;
  text-decoration: none;
  color: black;
}

.ramda {
  color: cyan;
}

.htable--one {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: 40px 0 50px 0;
}

td,
tr {
  border: 1px solid white;
  padding: 20px 30px;
  background: rgba(53, 68, 79, 1);
  margin: 40px 0 50px 0;
}

.nav--link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
.maint {
  width: 345px;
  height: 400px;
  border: 1px solid lightgray;
  background: white;
}

.tdmain,
.trmain {
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

.amain {
  text-decoration: none;
  color: rgba(72, 88, 99, 1);
}

.block {
  border: 1px solid lightgray;
  margin: 30px 73px 0 50px;
  position: absolute;
  right: 0;
  width: 885px;
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 281px;
}

.ramda--two {
  margin: 60px 0 0 0;
}

.pmain {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 167px;
  text-align: left;
  margin-left: 392px;
}

.pmain--two {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: left;
  margin-left: 392px;
}

li {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  padding: 10px 40px;
  text-align: center;
}

.a--footer {
  text-decoration: none;
  color: black;
}

.tdmain:hover {
  background: rgba(219, 219, 219, 1);
}

.amain:hover {
  color: black;
}

.tdhead:hover {
  background: rgba(34, 47, 58, 1);
}

.a--footer:hover {
  text-decoration: underline;
  color: darkcyan;
}

li a {
  display: inline-block;
  margin-right: 13px;
}

.-img- {
  transition: 1s;
}

.-img-:hover {
  transform: scale(1.2);
}

.aside {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  border: 1px solid lightgray;
  width: 345px;
}

.ul-footer {
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
}

.aside-one:hover {
  background: rgba(219, 219, 219, 1);
}

.aside-li {
  text-align: left;
  color: rgba(73, 88, 99, 1);
  padding: 18px 0;
}

.aside--a {
  color: rgba(73, 88, 99, 1);
  text-decoration: none;
}

.aside--a:hover {
  background: rgba(219, 219, 219, 1);
  color: black;
}

.aside-li:hover {
  background-color: rgba(219, 219, 219, 1);
  text-align: center;
}
