body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  overflow: hidden;
}

.box {
  margin: 0 auto;
  perspective: 600px;
  position: relative;
  animation: skroll 30s linear;
}

.star-wars {
  position: relative;
  justify-content: center;
  text-align: center;
}

.box-with-p {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 30s linear;
}

.fir-p {
  text-align: center;
}

p {
  font-size: 70px;
  text-align: left;
  color: rgb(255, 198, 0);
}

@keyframes crawl {
  0% {
    top: -100;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
