body {
  margin: 0 auto;
  padding: 0;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-list {
  overflow: hidden;
}

.slider {
  position: relative;
  padding: 0 75px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.slider .slick-arrow.slick-prev {
  left: 0;
}

.slider .slick-arrow.slick-next {
  right: 0;
}
