body {
  margin: 0;
  padding: 0;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1024px;
}

.under-pic {
  color: white;
}

.pic-cont {
  display: flex;
}

/* hghghghghghghghgh */
