body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.contaier {
  width: 100%;
}

.fixed-container {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  background: url(./img/bg-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 58px;
  height: 67px;
}
.clip-path {
  width: 58px;
  height: 67px;
  background-color: #18cfab;
  clip-path: polygon(
    50% 0,
    50% 0,
    95% 25%,
    95% 75%,
    50% 100%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  position: absolute;
}

.logo-span {
  color: white;
  font-size: 48px;
}

.gen-logo-span {
  display: flex;
  padding-left: 20px;
}

.logo {
  display: flex;
}

.logo-span-green {
  color: #18cfab;
  font-size: 48px;
}

.clip-path-H {
  margin-left: 18px;
  margin-top: 16px;
  position: relative;
  font-size: 31px;
  color: #fff;
}

.nav-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 800px;
}

.nav-li {
  display: flex;
  justify-content: space-around;
}

.nav-a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-bottom: 47px;
  padding-top: 47px;
}

.search-img {
  width: 21px;
  height: 20px;
  padding-top: 47px;
}

.nav-li a::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #18cfab;
}

.nav-li a:hover:before {
  width: 100%;
}

.nav-a:hover {
  color: #18cfab;
}

.gen-span {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 380px;
  font-family: Arial, Helvetica, sans-serif;
}

.white-span {
  color: white;
}

.green-span {
  color: #18cfab;
}

.big-span {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 80px;
}

.header-p {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: rgba(216, 216, 216, 1);
  padding-bottom: 134px;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 243px;
}

.btn {
  width: 169px;
  height: 63px;
  border-radius: 5px;
  border-top: 145px;
  padding-left: 13px;
}

.green-btn {
  background-color: rgba(24, 207, 171, 1);
  color: white;
  margin-right: 13px;
}

.blue-btn {
  background-color: rgba(0, 203, 246, 1);
  color: white;
  margin-left: 13px;
}

.section {
  padding-top: 5px;
}

.different-option {
  display: flex;
}

.box-img {
  padding-top: 95px;
  padding-bottom: 0;
}

.box-p-one {
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.box-p-two {
  justify-content: center;
  align-items: center;
  padding-top: 82px;
}

.box-p-three {
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.box-p-four {
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

main .box-green {
  color: #fff;
  background-color: #18cfab;
}
.box-gray {
  background-color: #1c2a33;
  color: #18cfab;
}
main .box {
  padding-top: 5px;
  width: 25%;
  height: 377px;
  text-align: center;
  font-weight: 700px;
  font-size: 20px;
  line-height: 25px;
}

.heading {
  text-align: center;
  padding-top: 83px;
  font-weight: 400px;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
}

.sec-section .heading::before {
  content: "";
  bottom: 0;
  left: 676px;
  top: 147px;
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
}

.sec-section .heading::after {
  content: "";
  bottom: 0;
  left: 690px;
  top: 151px;
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
}

.tabs-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.tabs-nav_item {
  border: 1px solid #dadada;
  cursor: pointer;
  padding: 15px 20px;
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.tabs-nav_item.is-active {
  background-color: #18cfab;
  color: #ffff;
  border: 1px solid #18cfab;
}

.tabs-nav_item:hover {
  border: 1px solid #18cfab;
}

.tab {
  display: none;
}

.tab.is-active {
  display: block;
}

.tab-img {
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  margin-bottom: 91px;
}

.tab-p {
  color: rgba(119, 119, 119, 1);
  padding: 0;
  margin: 0;
}

.thi-section {
  background-image: url(./img/bg-2.jpg);
  margin-top: 91px;
  margin-bottom: 0;
  background-repeat: no-repeat;
}

.green-h {
  color: #18cfab;
  text-align: center;
  padding-top: 126px;
}

.under-h {
  color: rgba(216, 216, 216, 1);
  text-align: center;
  padding-bottom: 67px;
}

.sec-green-btn {
  padding: 16px 11px;
  margin-bottom: 127px;
  background-color: #18cfab;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.sec-center-btn {
  display: flex;
  justify-content: center;
}

.four-section {
  margin: 0 auto;
  padding: 0;
  background-color: #e9edef;
}
.sec-heading {
  text-align: center;
  font-weight: 400px;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
  margin: 0;
  padding-top: 95px;
}

.four-section .sec-heading::before {
  content: "";
  bottom: 0;
  left: 676px;
  top: 156px;
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
}

.four-section .sec-heading::after {
  content: "";
  bottom: 0;
  left: 690px;
  top: 160px;
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
}

.sec-tabs-nav {
  display: flex;
  justify-content: space-between;
}

.sec-tabs-nav_item {
  border: 1px solid #dadada;
  cursor: pointer;
  padding: 14px 20px;
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.sec-tabs-nav_item.sec-is-active {
  color: #18cfab;
  border: 1px solid #18cfab;
}

.sec-tab {
  display: none;
}

.sec-tab.sec-is-active {
  display: block;
}

.sec-tabs {
  padding-bottom: 71px;
  padding-top: 111px;
}

.sec-img {
  margin: 0 auto;
}

.load-more {
  display: flex;
  padding-bottom: 99px;
  justify-content: center;
}

.load-more-a {
  text-decoration: none;
  padding: 22px 23px;
  color: white;
  background-color: #18cfab;
  font-size: 22px;
  border-radius: 5px;
  width: 168px;
  text-align: center;
}

.load-more-img {
  float: left;
  padding-right: 15px;
  padding-left: 23px;
}

.row {
  margin: 0 auto;
  display: flex;
}

.row-img:hover {
  background: url(./img/hover.PNG);
}

.five-section .thi-heading::before {
  content: "";
  bottom: 0;
  left: 676px;
  top: 156px;
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
}

.five-section .thi-heading::after {
  content: "";
  bottom: 0;
  left: 690px;
  top: 160px;
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
}

.thi-heading {
  text-align: center;
  padding-top: 83px;
  font-weight: 400px;
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
}

.bn-a {
  text-decoration: none;
}

.main-bn-div {
  display: flex;
}

.bn-img {
  padding-right: 45px;
  position: relative;
}

.last-bn-img {
  position: relative;
}

.bn-div {
  position: relative;
  color: white;
  font-size: 18px;
  border: 1px solid rgba(32, 62, 56, 1);
  height: 68px;
  width: 70px;
  background-color: rgba(32, 62, 56, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 212px;
  left: 191px;
}

.white-div {
  height: 70px;
  color: white;
}

.bn-p {
  color: rgba(113, 113, 113, 1);
  position: relative;
  bottom: 70px;
  left: 15px;
  font-size: 20px;
}

.sec-bn-p {
  color: rgba(119, 119, 119, 1);
  position: relative;
  bottom: 70px;
  left: 15px;
}

.bn-a:hover .bn-p {
  color: #18cfab;
}

.bn-a:hover .bn-div {
  border: 1px solid #18cfab;
  height: 68px;
  width: 70px;
  background-color: #18cfab;
}

.six-heading {
  text-align: center;
  padding-top: 83px;
  font-weight: 400px;
  font-size: 36px;
  line-height: 40px;
  color: white;
  position: relative;
}

.six-section .six-heading::before {
  content: "";
  bottom: 0;
  left: 676px;
  top: 147px;
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
}

.six-section .six-heading::after {
  content: "";
  bottom: 0;
  left: 690px;
  top: 151px;
  position: absolute;
  width: 79px;
  height: 2px;
  background-color: #18cfab;
}

.six-section {
  background-image: url(./img/bg-3.jpg);
  background-repeat: no-repeat;
}

.comma {
  display: block;
  margin: 0 auto;
  margin-top: 99px;
  padding-bottom: 36px;
}

.wrapper {
  height: 100%;
  /* width: 200px; */
  margin: 0 auto;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  padding: 0px 30px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  margin: -10px 0px 0px 0px;
  z-index: 10px;
  width: 15px;
  height: 30px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(./img/arrow-L.png);
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(./img/arrow-R.png);
}

.slider_item {
  text-align: center;
}

.slider_item.slick-center {
  z-index: -5px;
}

.sliderbig {
  width: 700px;
  margin: 0 auto;
}

.sliderbig_item {
  text-align: center;
}

.ham-comment {
  color: white;
}

.who {
  color: #18cfab;
}

.who-t {
  color: white;
}

.slider_item-img {
  padding-bottom: 50px;
}

.footer-div {
  height: 120px;
  width: 100%;
  background-color: rgba(34, 53, 63, 1);
}

.footer-p {
  text-align: center;
  color: #aeaeae;
  justify-content: center;
}

.footer-span {
  text-align: center;
  color: #18cfab;
  justify-content: center;
}

.all-p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
