/* body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
} */

.container {
  width: 1900px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(49, 49, 49, 1);
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-a {
  text-decoration: none;

  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;

  padding: 27px 35px 27px 35px;
  justify-content: space-between;
}

.nav-link:hover {
  color: rgba(20, 185, 213, 1);
}

.navbar {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo {
  padding: 20px;
  width: 27px;
}

.search {
  padding: 26px;
  background-color: black;
  top: 0;
  left: 0;
}

.navbar-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-li {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.section {
  background-image: url(../hw-5/img/header-background.jpg);
  background-repeat: no-repeat;
}

.main-p {
  display: flex;
  text-align: center;
  margin-top: 164px;
  color: white;
  font-size: 32px;
  flex-direction: column;
}

.blue-btn {
  background-color: #14b9d5;

  color: white;
  padding: 16px 30px;
  margin: 5px 5px 0 10px;
  border-radius: 5px;
  border: 1px solid #14b9d5;
}

.green-btn {
  background-color: #89ca62;

  color: white;
  padding: 16px 19px;
  margin: 5px 10px 0 5px;
  border-radius: 5px;
  border: 1px solid #89ca62;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 240px;
  padding-bottom: 75px;
  background-repeat: no-repeat;
}

.pop-posts {
  font-size: 27px;
  color: rgba(24, 180, 207, 1);

  text-align: center;
}

.sec-container {
  width: 60%;
  max-width: 1900px;
  margin: 0 auto;
}

.main-img-div {
  display: flex;
}

.img-p {
  text-align: center;
}

.house-img-center {
  margin-right: 15px;
  margin-left: 15px;
}

.most-pop-clients {
  background-image: url(../hw-5/img/main-bg.jpeg);
  background-repeat: no-repeat;
}

.pop-clients {
  font-size: 44px;
  color: white;
  text-align: center;
  padding-top: 106px;
}

.df-grid {
  display: flex;
  justify-content: center;
}

.first-grid {
  display: grid;
  width: 740px;
  height: 49px;
  padding-top: 347px;
  padding-bottom: 192px;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 58px;
}

.top-rated {
  font-size: 33px;
  color: rgba(24, 180, 207, 1);
  text-align: center;
}

.center-sec-grid {
  display: flex;
  justify-content: center;
}

.sec-grid {
  display: grid;
  width: 1897px;
  height: 190px;
  grid-template: repeat(1, 1fr) / repeat(7, 1fr);
}

.hot-news {
  font-size: 33px;
  color: rgba(24, 180, 207, 1);
  text-align: center;
}

.third-grid {
  display: grid;
  width: 1170px;
  height: 1592px;
  grid-template: repeat(4, 1fr) / repeat(4, 1 fr);
}
