@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.container {
  height: 100%;
  background: url(../img/bg.jpg);
  background: url(../img/bg@2x.png);
  background: url(../img/bg@3x.png);
}

.header {
  height: 58px;
  background-color: rgba(0, 0, 0, 0.4);
}

.heading {
  margin-left: 80px;
  font-size: 22px;
  color: white;
}
