.wrapper {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.img {
  width: 600px;
  height: 400px;
}
.button {
  width: 200px;
  height: 50px;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 5px;
  background-color: rgb(202, 18, 18);
  color: aqua;
}
.button-start {
  width: 200px;
  height: 50px;
  margin-top: 10%;
  margin-right: 10%;
  background-color: rgb(42, 13, 173);
  color: aqua;
  border-radius: 5px;
}
.button:focus {
  background: #d8d7eb;
  box-shadow: 0 0 10px rgb(192, 8, 8);
  color: #c51111;
}
.button-start:focus {
  background: #d8d7eb;
  box-shadow: 0 0 10px rgb(11, 163, 70);
  color: #2d8543;
}
