.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.link {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: red;
  text-decoration: none;
}

.menu {
  margin-right: 72px;
  font-family: Arial, Helvetica, sans-serif;
}

.picture {
  display: block;
  margin: 0 auto;
}

h2 {
  margin-top: 48px;
  margin-bottom: 38px;
}

.heading {
  top: 48px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 22px;
}

p {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#indent {
  margin-bottom: 50px;
  font-size: 16px;
}

#inden-two {
  margin-bottom: 66px;
}

#button {
  background: red;
  color: white;
  border: none;
  padding: 17px 17px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.foot {
  text-align: right;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 82px;
}
